@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  background-color: #222;
  color: white;
}

.text-main {
  color: cyan;
}

/* .bg-main {
  background-color: cyan;
} */

* {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: "SourceSansPro";
  src: url('./Assets/SourceSansPro-Regular.ttf');
}

.font-sourceSansPro {
  font-family: "SourceSansPro";
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
  background: linear-gradient(transparent, #222);
  /* opacity: 0.5; */
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element 

@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
      display: none;
    }
  }
*/

/* SingUp */

.sign-form {
  position: relative;
  padding: 30px;
}

.sign-top, .sign-bottom {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 30px;
}

.sign-top {
  top: 0px;
}

.sign-bottom {
  bottom: 0;
}

.sign-top::before,
.sign-bottom::before { 
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border-left: 2px solid cyan;
}

.sign-top::before {
  border-top: 2px solid cyan;
}

.sign-top::after {
  border-top: 2px solid cyan;
}

.sign-bottom::before {
  border-bottom: 2px solid cyan;
}

.sign-bottom::after {
  border-bottom: 2px solid cyan;
}

.sign-top::after,
.sign-bottom::after { 
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  border-right: 2px solid cyan;
}
